@use "@/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.pagination {
  :global(.page-link) {
    padding: 0.75rem 1rem;

    color: variables.$brand-primary-700;

    border-radius: 0.375rem;
    border-color: variables.$brand-primary-50;

    background-color: variables.$brand-primary-50;
  }

  :global(.active) {
    :global(.page-link) {
      color: white;

      border-color: variables.$brand-primary-400;

      background-color: variables.$brand-primary-400;
    }
  }

  :global(.disabled) {
    :global(.page-link) {
      color: rgba(variables.$brand-primary-700, 0.3);
    }
  }
}