.footer {
    padding: 40px 0;
    border-top: 1px solid var(--color-gray-200, #F1F2F4);
    background: var(--color-gray-100, #F9FAFB);
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.columnList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}

.linkColumn > h4 {
    margin-bottom: 24px;
    font-weight: 600;
}

.linkColumn > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkColumn a {
    color: inherit;
    text-decoration: none;
}

.linkColumn a:hover {
    color: var(--color-gray-1000, #2D3239);
}

.credits {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    width: fit-content;
    margin: 40px auto 0;
    font-size: 12px;
}

.credits > span {
    display: flex;
    align-items: center;
    gap: 6px;
}

.credits img {
    display: block;
}

.creditsDivider {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: var(--color-gray-300, #DDE0E4);
}

@media (min-width: 768px) {
    .footerContainer {
        flex-direction: row;
    }

    .columnList {
        flex-direction: row;
        gap: 100px;
    }

    .credits {
        flex-direction: row;
    }

    .creditsDivider {
        width: 1px;
        height: 18px;
    }
}
